body{
    height: 100%;
}
.menu-btn{
    color: rgb(255, 254, 255);
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.navbar a{
    color: white;
}
.navbar{
    padding: 30px 5%;
    color:aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 999;
    background-color: rgb(0, 0, 0);
    box-shadow:0 0 10px rgba(170, 143, 143, 0.932) ;
}
.navbar .logo h1{
    color: rgb(250, 246, 246);
    border-bottom: 4px solid red;
    font-style: serif;
}
.navbar .menu li{
    padding-top: 5px;
    list-style: none;
    color: white;
    display:inline-block;
    font-style: serif;
}
.navbar .menu li a{
     display: block;
     font-style: initial;
     margin-bottom: 20px;
     border-bottom: 4px solid transparent;
     text-decoration: none;
     font-size: 20px;
     font-weight: bold;
     padding-inline-end: 25px;
}
.navbar .menu li a img{
    background-color: black;
    display:inline-block;
}
.navbar .menu li a:hover{
    border-bottom: 2px solid rgb(255, 255, 255);
}
.content{
    background-image: url(shop.jpg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(8, 8, 8);
    height: 100vh;
    font-style: serif;
}
.content h1{
    font-size: 40px;
    font-style: serif;
}
.content p{
    font-size: 20px;
    margin-top: 20px;
    font-style: serif;
}
.content button{
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    background: rgb(255, 0, 0);
    color: aliceblue;
    font-size: 2opx;
    border-radius: 15px;
    cursor: pointer;
    font-style: serif;
}
.content img{
    align-self: left;
}
.phead{
    text-align: center;
    font-style: serif;
    margin: 50px 0;
    color: rgb(10, 10, 10);
}
.src{
 padding: 10px 5%;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px ,1fr));
}
.products .card{
    width: 180px;
    background: whitesmoke;
    box-shadow: 0 5px 10px black;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    font-weight: bold;
}
.products .card .desc{
    padding: 5px 20px;
    font-weight: bold;
    color: black;
    opacity: 0.8;
    font-weight: bold;
}
.products .card img{
    height:135px;
    width: 100%;
}
.products .card .title{
    font-weight: 900;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-weight: bold;
}
.products .card .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.products .card .box .price{
    color: red;
    font-size: 20px ;
    font-weight: bold;
}
.products .card .box .btn{
    font-size: 13px;
    color: red;
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid red;
    border-radius: 20px ;
    font-weight: bold;
}
.products .card .box .btn:hover{
    cursor:pointer;
    background-color: red;
    color: white;
}
.contact{
    text-align: center;
    font-size: 25px;
    font-style: serif;
}
.wrap a{
    justify-content: center;
    padding-left: 30px;
    padding: 70px 50px;
}
footer p{
    text-align: center;
    line-height: 10vh;
    font-weight: bold;
}
footer p a{
    text-decoration: none;
    color: red;
    font-weight: bold;
}